<div class="iapp-search-wrap">
    <img class="iapp-branding-logo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/logo.png" alt="Untested rape kits">
    <div class="iapp-mobile-video-container"></div>
    <div class="iapp-search iapp-fade">
        <p class="iapp-chatter">Chatter chatter chatter Elit laudantium blanditiis repellat error consectetur. Beatae doloremque aliquid neque corporis tenetur culpa et veritatis. Optio facere minima enim obcaecati corporis, voluptates nisi veniam similique facilis! Quia officia iure facere.</p>
        <div class="iapp-search-input-group">
            <img class="iapp-search-icon" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/search-icon.svg" alt="Info">
            <input class="iapp-search-input" type="text" placeholder="Search police departments">
        </div>
        <div class="iapp-search-results-wrap"></div>
    </div>
    <div class="iapp-info-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/question-icon.svg" alt="Info">
    </div>
    <div class="iapp-play-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/play-icon-white.svg" alt="Play video">
    </div>
</div>

<div class="iapp-info-wrap">
    <div class="iapp-info-close"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/close-icon-white.svg" alt="close"></div>
    <div class="iapp-info-inner-wrap">
        <h3 class="iapp-info-header">Info</h3>
        <p class="iapp-info-p">Adipisicing tenetur similique amet voluptatibus nihil veniam delectus? Natus quis sint necessitatibus quos impedit. Obcaecati ex sint recusandae quo explicabo animi repellendus ratione consectetur voluptatum esse! Praesentium doloribus veritatis praesentium?</p>
    
        <h3 class="iapp-info-header">Credits</h3>
    </div>
    <div class="iapp-detail-background js-iapp-info-background"></div>
</div>
