<div class="iapp-search-wrap">
    <img class="iapp-branding-logo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/logo.png" alt="Untested rape kits">
    <div class="iapp-mobile-video-container"></div>
    <div class="iapp-search iapp-fade">
        <p class="iapp-chatter">USA TODAY obtained records identifying more than 70,000 sexual assault kits booked into evidence at hundreds of the nation’s law enforcement agencies that have never been tested. Use this tool to look up the number of sexual assault kits held by those agencies. Not every agency is in our database. Some were not surveyed; others declined to respond or release records.</p>
        <div class="iapp-search-input-group">
            <img class="iapp-search-icon" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/search-icon.svg" alt="Info">
            <input class="iapp-search-input" type="text" placeholder="Search police departments">
        </div>
        <div class="iapp-search-results-wrap"></div>
    </div>
    <div class="iapp-info-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/question-icon.svg" alt="Info">
    </div>
    <div class="iapp-play-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/play-icon-white.svg" alt="Play video">
    </div>
</div>

<div class="iapp-info-wrap">
    <div class="iapp-info-close"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/close-icon-white.svg" alt="close"></div>
    <div class="iapp-info-inner-wrap">
        <h3 class="iapp-info-header">What these figures show</h3>
        <p class="iapp-info-p">The USA TODAY Media Network obtained data on the number of untested sexual assault kits from state and local law enforcement agencies by submitting more than 400 records requests under freedom of information laws in all 50 states.</p>
        <p class="iapp-info-p">The requests sought the number of sexual assault kits that were booked into evidence from 2000 to 2014, but not submitted to crime labs for testing as of early 2015.</p>
        <p class="iapp-info-p">Requests went to 140 of the nation’s largest law enforcement agencies and more than 200 additional police and sheriff’s departments of varying sizes. The Network also requested from state criminal justice agencies and attorneys general any statewide inventories of untested sexual assault evidence kits.</p>
        <p class="iapp-info-p">The records reflect the untested evidence kits held by a fraction of the nation’s approximately 18,000 law enforcement agencies. No government entity has conducted a comprehensive national inventory of untested sexual assault kits.</p>
        <p class="iapp-info-p">The records obtained typically reflect numbers of sexual assault evidence kits taken into evidence since 2000. However, where data could only be obtained from a particular agency for a portion of that time or for a longer period of time (including prior to 2000), those figures are also included in the total</p>
    
        <h3 class="iapp-info-header">Credits</h3>
        <p class="iapp-info-p">John Kelly, Stephen Reilly, Shawn Sullivan, Mitchell Thorson, Bethany Fewell, Zachary Walker, USA TODAY</p>
    </div>
    <div class="iapp-detail-background js-iapp-info-background"></div>
</div>
