<div class="iapp-search-wrap">
    <img class="iapp-branding-logo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/logo.png" alt="Untested rape kits">
    <div class="iapp-search">
        <input class="iapp-search-input" type="text" placeholder="Search police departments">
        <div class="iapp-search-results-wrap"></div>
    </div>
    <div class="iapp-info-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/question-icon.svg" alt="Info">
    </div>
</div>
