<div class="iapp-detail-wrap">
    <div class="iapp-detail-inner-wrap">
        <div class="iapp-detail-close-button"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/close-icon-grey-2.svg" alt="close"></div>
        <h2 class="iapp-detail-head"><%=Agency%></h2>
        <h4 class="iapp-detail-sub-head"><%=State%></h4>
        <div class="iapp-detail-group">
            <span class="iapp-detail-data-label">Total untested kits: </span>
            <span class="iapp-detail-data-text label label-primary"><%= Total_untested_kits_pretty %></span>
        </div>
        <h4 class="iapp-detail-info">Current as of: <%=Current_as_of_date %></h4>
        <h4 class="iapp-detail-info">Source: <%=Source %></h4>
    </div>
    <div class="iapp-detail-share-wrap">
        <div class="iapp-detail-share-button">Share</div>
        <div class="iapp-share-icon-wrap">
            <a href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>" class="iapp-share-button iapp-share-icon iapp-share-twitter iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/twitter.svg" alt="Twitter share"></a>
            <a href='https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>' class="iapp-share-button iapp-share-icon iapp-share-facebook iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/facebook.svg" alt="Facebook share"></a>
        </div>
    </div>
    <div class="iapp-detail-background"></div>
</div>
