<div class="video-wrap"> 
    <div class="video-inner-wrap">
        <div class="video-close-button"><img src="http://www.gannett-cdn.com/experiments/usatoday/2014/11/arrests-interactive/img/close.svg" alt=""></div>
        <!-- Video Controls -->
        <div id="video-controls" class="">
            <div id="play-pause" class="play"></div>
            <div id="seek-bar">
                <div id="video-dot"></div>
            </div>
        </div> 
        <video id="introvid" class="bgvideo" autoplay poster="http://www.gannett-cdn.com/experiments/usatoday/2015/04/gay-marriage/img/intro_bg_still.jpg">
            <source src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/gay-marriage/media/<%= video_name%>.mp4" type="video/mp4" />
            <source src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/gay-marriage/media/<%= video_name%>.ogv" type="video/ogg" />
        </video>
    </div>
</div>


