.iapp-search-wrap {
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    padding: 60px 0;
    right: 0;
    top: 0;
    transition: all 500ms ease 500ms;
    transform: translate(0, 0);

    @media (max-width: 600px) {
        padding: 10px 0;
        // position: static;
    }
}

.iapp-fade {
    opacity: 0;
    transform: translate(0, 50px);
}

.iapp-search {
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    transform: translate(0, 0);
    transition: all 500ms ease 500ms;
    width: 100%;
}

.iapp-search-input-group {
    position: relative;
}

.iapp-search-icon {
    left: 5px;
    position: absolute;
    top: 7px;
    width: 30px;
}

.iapp-search-input {
    background: white;
    border-image: none;
    border-style: none;
    border: solid 3px white;
    border-radius: 10px;
    // box-shadow: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: $dark-grey;
    font-family: "Futura Today Light", Arial,sans-serif;
    font-size: 1.2em;
    // margin-bottom: 1em;
    padding: .5em .5em .5em 40px;
    // text-align: center;
    transition: all 250ms ease;
    -webkit-appearance: none; 
    width: 100%;

     &:focus {
        border: solid 3px $light-grey;
        outline: none;
   }

       ::-webkit-input-placeholder {
         color: red;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: red;  
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: red;  
      }

      :-ms-input-placeholder {  
         color: red;  
      }
}

.iapp-chatter {
    color: white;
    font-family: "Futura Today Light", Arial, sans-serif;
    margin: 0.5em auto;
    width: 90%;
}

/******

Branding

******/

.iapp-branding-logo {
    display: block;
    margin: 0 auto 2em auto;
    width: 100px;

    @media (max-width: 600px) {
        width: 80px;
    }
}

.iapp-info-button {
    bottom: 10px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    right: 10px;
    transition: opacity 250ms ease;
    width: 30px;
    &:hover {
        opacity: 1;
    }
}

.iapp-play-button {
    @extend .iapp-info-button;
    right: none;
    left: 10px;
}

.iapp-video-skip-button {
    margin-top: 1em;
}
